doctype html
// Mirrored from plab-admin.envytheme.com/user/login by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Dec 2019 06:25:24 GMT
// Added by HTTrack
meta(http-equiv='content-type' content='text/html;charset=UTF-8')
// /Added by HTTrack
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Sparkle Lifestyle &amp; MediSpa - Medical Aesthetic &amp; Nutrition Coaching
  // All Library CSS
  link(href='../css/bootstrap.min.css' rel='stylesheet')
  link(href='../css/LineIcons.css' rel='stylesheet')
  link(href='../css/viewer.min.css' rel='stylesheet')
  link(href='../css/icofont.min.css' rel='stylesheet')
  link(href='../css/calendar.css' rel='stylesheet')
  // Custom CSS
  link(href='../css/styles.css' rel='stylesheet')
  link(href='../css/responsive.css' rel='stylesheet')
  // Favicon
  link(rel='shortcut icon' href='../favicon.ico')
  meta(name='csrf-param' content='_csrf')
  meta(name='csrf-token' content='mdEzqLMSqWfjZA04MF-wmIajZNeFpWZu4n1DgDTb6ZLsqUr30kPrVqFVRUt-C9vIsOhTv8_0MyLPFQH1AIml3w==')
// Preloader
// Preloader
.preloader
  .d-table
    .d-tablecell
      span.loader
        span.loader-inner
// Top Navbar
// This conditions used for conditional header rendering like login, signup etc pages not showing the header
// Main Content Layout
// Login Area
.auth-main-content.auth-bg-image
  .d-table
    .d-tablecell
      .auth-box
        .row.align-items-center
          .col-md-6
            .form-left-content
              .auth-logo
                img(src='../images/login.d814adb7.png' alt='Logo')
          .col-md-6.pad-0.login_form
            .form-content
              h1.heading Log In
              p Welcome back, please login to your account.
              form
                .form-group
                  label.form-label Email address
                  input#email.form-control(type='email')
                .form-group
                  label.form-label Password
                  input#password.form-control(type='password')
                .text-center
                  button.btn.btn-primary(type='button' onclick="location.href='../index.php'") Log In
                  a.fp-link(href='forgot-password.html') Forgot Password?
// End Login Area
// Footer Scripts
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='../js/jquery.min.js')
script(src='../js/popper.min.js')
script(src='../js/bootstrap.min.js')
// Feather Icon JS
script(src='../js/feather.min.js')
// Gllery viewer JS
script(src='../js/viewer.min.js')
// ApexCharts JS
script(src='../js/apex-charts/apexcharts.min.js')
script(src='../js/apex-charts/apexcharts-stock-prices.js')
script(src='../js/apex-charts/apex-line-charts.js')
script(src='../js/apex-charts/apex-area-charts.js')
script(src='../js/apex-charts/apex-bar-charts.js')
script(src='../js/apex-charts/apex-mixed-charts.js')
script(src='../js/apex-charts/apex-pie-donuts-charts.js')
script(src='../js/apex-charts/sales-by-countries.js')
script(src='../js/apex-charts/product-trends-by-month.js')
script(src='../js/apex-charts/month-sales-statistics.js')
script(src='../js/apex-charts/order-summary.js')
script(src='../js/apex-charts/visitors-overview.js')
script(src='../js/apex-charts/leads-stats.js')
script(src='../js/apex-charts/apex-column-charts.js')
script(src='../js/custom-chart.js')
// Custom JS
script(src='../js/custom.js')
// Mirrored from plab-admin.envytheme.com/user/login by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Dec 2019 06:25:24 GMT
