doctype html
// Mirrored from plab-admin.envytheme.com/page/error-404 by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Dec 2019 06:25:28 GMT
// Added by HTTrack
meta(http-equiv='content-type' content='text/html;charset=UTF-8')
// /Added by HTTrack
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Sparkle Lifestyle &amp; MediSpa - Medical Aesthetic &amp; Nutrition Coaching
  // All Library CSS
  link(href='../css/bootstrap.min.css' rel='stylesheet')
  link(href='../css/LineIcons.css' rel='stylesheet')
  link(href='../css/viewer.min.css' rel='stylesheet')
  link(href='../css/icofont.min.css' rel='stylesheet')
  link(href='../css/calendar.css' rel='stylesheet')
  // Custom CSS
  link(href='../css/styles.css' rel='stylesheet')
  link(href='../css/responsive.css' rel='stylesheet')
  // Favicon
  link(rel='shortcut icon' href='../favicon.ico')
  meta(name='csrf-param' content='_csrf')
  meta(name='csrf-token' content='3QkaN0O5zIsok9-ysLY-bHXZCe7_P_HeASMfsV3mBgqocWNoIuiOumqil8H-4lU8Q5I-hrVupJIsS13EabRKRw==')
  style.
    .page-wrapper{
    background-image: url(../images/vuexy-login-bg.04351a33.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    }
// Preloader
// Preloader
.preloader
  .d-table
    .d-tablecell
      span.loader
        span.loader-inner
// Top Navbar
// This conditions used for conditional header rendering like login, signup etc pages not showing the header
// Main Content Layout
.page-wrapper
  .error-content
    .d-table
      .d-tablecell
        i.icon(data-feather='frown')
        h1 404
        h4 Page not found
        p The page you are looking for was moved, removed, renamed or might never exist!
        a.back-link(href='../index.php') Back to Home Page
// Footer Scripts
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='../js/jquery.min.js')
script(src='../js/popper.min.js')
script(src='../js/bootstrap.min.js')
// Feather Icon JS
script(src='../js/feather.min.js')
// Gllery viewer JS
script(src='../js/viewer.min.js')
// ApexCharts JS
script(src='../js/apex-charts/apexcharts.min.js')
script(src='../js/apex-charts/apexcharts-stock-prices.js')
script(src='../js/apex-charts/apex-line-charts.js')
script(src='../js/apex-charts/apex-area-charts.js')
script(src='../js/apex-charts/apex-bar-charts.js')
script(src='../js/apex-charts/apex-mixed-charts.js')
script(src='../js/apex-charts/apex-pie-donuts-charts.js')
script(src='../js/apex-charts/sales-by-countries.js')
script(src='../js/apex-charts/product-trends-by-month.js')
script(src='../js/apex-charts/month-sales-statistics.js')
script(src='../js/apex-charts/order-summary.js')
script(src='../js/apex-charts/visitors-overview.js')
script(src='../js/apex-charts/leads-stats.js')
script(src='../js/apex-charts/apex-column-charts.js')
script(src='../js/custom-chart.js')
// Custom JS
script(src='../js/custom.js')
// Mirrored from plab-admin.envytheme.com/page/error-404 by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Dec 2019 06:25:28 GMT
